@import "../utilidades/variables";
*{
    padding: 0%;
    margin: 0%;
}

body {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: $color-principal;
}

footer{
    text-align: center;
    color: $color-secundary;
}